@page "/Home"
<PageTitle>Home</PageTitle>
@using SportStore.ComponentsLib

<h1>Hello World</h1>

<!--
<button width="100" height="50" @onclick="GetAlert"> Открыть </button>


<Alert @bind-Show="@ShowAlert" @ref=alert>
</Alert>
-->


@code {
    public bool ShowAlert { get; set; } = false;
    public Alert alert { get; set; }


    public void GetAlert()
    {
        ShowAlert = true;
        //alert.Open();
    }

    public void CloseAlert()
    {
        //alert.Close();
        ShowAlert = false;
    }



}
