
<img src="/images/logo.png" height="@ImageHeigt" width="100" />


<input type="text" @bind-value="@ImageHeigt" @bind-value:event="oninput"  placeholder="Введите высоту" />

<h1> Test </h1>

@ChildContent



@code{

    [Parameter]
    [EditorRequired]
    public string ImageHeigt { get; set; } = "100";


    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}