@page "/addUser"
@using SportStore.Application.Requests
@using SportStore.Blazor.State
@inject IMediator Mediator
@inject NavigationManager nav
<PageTitle> Добавление пользователя </PageTitle>


<button class="btn btn-success p-2 mt-5" @onclick="NavToIndex">Главная страница</button>

<h3 class="mt-4 mb-5"> Создание нового пользователя  </h3>

<Alert ErrorMessage= "@_errorMessage" SubmitSuccessful = "@_submitSuccessful"/>

<UserForm @ref="_userForm" OnSubmit="SubmitNewUser" />


@code {

    private bool _submitSuccessful;
    private string? _errorMessage;
    private UserForm _userForm = default!;

    private async Task SubmitNewUser(User user, IBrowserFile? image)
    {
        var response = await Mediator.Send(new AddUserRequest(user));

        if (response.userId == -1)
        {
            _submitSuccessful = false;
            _errorMessage = "There was a problem saving your User.";
            StateHasChanged();
            return;
        }

        if (image is null)
        {
            _submitSuccessful = true;
            _userForm.ResetForm();
            StateHasChanged();
            return;
        }

        _submitSuccessful = await ProcessImage(response.userId, image);

        if (_submitSuccessful)
        {
            _userForm.ResetForm();
        }

        StateHasChanged();
    }

    private async Task<bool> ProcessImage(int UserId, IBrowserFile UserImage)
    {
        var imageUploadResponse = await Mediator.Send(new UploadUserImageRequest(UserId, UserImage));
        if (string.IsNullOrWhiteSpace(imageUploadResponse.ImageName))
        {
            _errorMessage = "Your User was saved, but there was aproblem uploading the image.";
            return false;
        }

        return true;
    }

    public void NavToIndex()
    {
        nav.NavigateTo("Index");
    }

}
