@page "/Index"
@page "/"
@using SportStore.Application.Requests

@layout IndexLayout
@inject IMediator mediatr

<PageTitle> Главная страница </PageTitle>

@inject HttpClient http

@if(Users.Count() == 0)
{
    <h3> Загрузка данных о пользователях...</h3>
}
else
{

        <UserDetail User="_selectedUser" />


        <div class="grid">
             @foreach (var u in Users)
             {
            <UserCard u="u" OnSelected="HandleUserSelected" />
             }
         </div>

}


@code {
    IEnumerable<User> Users = new List<User>();
    private User? _selectedUser;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //Users = await http.GetFromJsonAsync<IEnumerable<User>>($"{http.BaseAddress}api/Users");
            var response = await mediatr.Send(new GetUsersRequest());
            Users = response.Users;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading User data: {ex.Message}");
        } 
        catch (Exception ex)
        {
            Console.WriteLine($"{ex.InnerException.Message}");
        }
    }

    private void HandleUserSelected(User user)
    {
        _selectedUser = user;
        StateHasChanged();
    }





}
